<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'detail.css'%}">
    <title>detail</title>
</head>
<body>
    {%if question.image%}
    <img src="{{question.image.url}}" alt="{{question.question_text}}">
    {%else%}
    <p>no questions available</p>
    {%endif%}
    <form action="{%url 'myapp:vote' question.id %}" method="post">
    <p></p>
    {% csrf_token %}
    <fieldset>
        <legend><h1> {{question.question_text}}</h1></legend>
        {%if error_message %} <p><strong>{{error_message}}</strong></p> {%endif%}
        {%for choice in question.choice_set.all%}
        <input type="radio" name="choice" id="choice" value="{{choice.id}}">
        <label for="choice" id="choice">{{choice.choice_text}}</label><br>
        {%endfor%}
        <input type="submit" value="vote">

    </fieldset>
</form>

</body>
</html>